.square {
  width:100px;
  height: 100px;
  font-size: 10px;
  text-align: right;
  margin-top: -2px;
  margin-bottom: -3px;
  border: none;
  outline: none;
  display:inline-block;
  text-align: right;
}

.square.white {
  background-color: #ffffff;
}

.square.green {
  background-color: rgb(0, 85, 0);
}

.square:hover {
  background-color: rgb(0, 202, 253);
  cursor:pointer;
}

.piece {
  width:80px;
  height:80px;
  border-radius:100px;
  left: 60px;
  margin-left: 10px;
  margin-top: 10px;
}

.piece.white {
  background: rgb(255, 255, 255);
}

.piece.red {
  background: rgb(100, 1, 1);
}



.board {
  text-align:center;
  border: solid black 3px;
  background-color: red;
  width: 800px;
  height: 790px;
}

.game {
  text-align:center;
  padding-left: 500px;
  padding-top: 100px;
}